<h1>Outages</h1>
<div ng-show="isLoading">Please wait, loading streetlights</div>
<div class="container" style="padding:10px 0;">
  <!-- Somehow placeholder is working for google autocomplete in IE8 -->
  <input id="addressSearchBox" type="text" class="input-block-level" placeholder="e.g. 500 George Street Sydney NSW 2000" ng-model="chosenPlace" googleplace>
  <button class="btn btn-small btn-primary" type="button" ng-click="homeVm.searchAddress()">Address Search</button><br/>
  <input type="radio" name="iCheck" ng-model="radOutageTime" value="now" icheck><label for="now">Now</label>
  <input type="radio" name="iCheck" ng-model="radOutageTime" value="future" icheck><label for="future">Future</label>
</div>
<section id="map">
  <!--div id="myMap" ui-options="mapOptions" class="map-canvas" ui-event="{'map-zoom_changed': 'zoomChanged(myMap.getZoom())'}"></div-->
  <div id="myMap" class="map-canvas"></div>
  <div id="outageInfo">
    <div class="left">
      <p>start time: 12:30 <a class="close-tag" ng-click="homeVm.closeWindow()">close</a></p>
      <p>Estimated Restore Time:14:30</p>
      <p>Status: Reported</p>
      <p>Areas Affected: Stanmore</p>
      <p>Numbers of customer affected: 200(approx)</p>

      <button class="btn btn-small btn-primary" type="button" ng-click="homeVm.reportAsset()">Report Outage</button><br />
    </div>

  </div>
</section>

