<h1>Homepage</h1>
<div ng-show="isLoading">Please wait, loading streetlights</div>
<section id="map">
  <div ui-map="myMap" ui-options="mapOptions" class="map-canvas" ui-event="{'map-zoom_changed': 'zoomChanged(myMap.getZoom())'}"></div>
</section>
<div class="container" style="padding:10px 0;">
	<!-- Somehow placeholder is working for google autocomplete in IE8 -->
	<input id="addressSearchBox" type="text" class="input-block-level" placeholder="e.g. 500 George Street Sydney NSW 2000" ng-model="chosenPlace" googleplace>
	<button class="btn btn-small btn-primary" type="button" ng-click="searchAddress()">Address Search</button>
</div>
<div class="container">
	<input id="poleNumberSearchBox" type="text" class="input-block-level" placeholder="e.g. RP00025" ng-model="chosenPoleNumber" placeholderforall>
	<button class="btn btn-small btn-primary" type="button">Pole Number Search</button>
</div>