<div class="result-div">
  <div class="result-header"> 
    <span class="{{marker.customStatus}}-box"></span><label>{{marker.customStatus}}</label>
  </div>
  <div class="result-content">
    <div class="left">
      <p><strong>Pole number:</strong></p>
      <p class="pole-number-label"><strong>{{marker.title}}</strong></p>
    </div>           
    <div class="pole-location">
      <p>{{markerAddress}}</p>
    </div> 
  </div>
  <div class="result-button">
      <center><input type="button" class="button" value="Report this streetlight" ng-click="reportAsset()"/></center>
  </div>         
</div>
