html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto 0;
}
.left{
    float: left;
}
#push, #footer {
	height: 40px;
}
#footer {
	background-color: #f5f5f5;
}

.map-canvas { height: 400px; position: relative;}

/* Fix for using bootstrap... */
.gmnoprint img { max-width: none; }
#map img { max-width: none; }
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
/*-------------------   Select Box  ------------------------------*/
.sbHolder { 	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	background: #e9eff2; 
	border: solid 1px #c4c8ca; 
	font-family: Arial, sans-serif; 
	font-size: 16px; 
	font-weight: normal; 
	height: 31px; 
	position: relative; 
	width: 250px; margin: 0px 20px 0px 20px; -webkit-box-shadow: 0px 1px 1px 1px #C9C9C9; box-shadow: 0px 1px 1px 1px #C9C9C9; margin-top: 10px;}
	
.sbHolder:focus .sbSelector { height: 31px; left: 0; line-height: 31px; outline: none; overflow: hidden; position: absolute; text-indent: 10px; top: 0; width: 240px; }
.sbSelector { height: 31px; left: 0; line-height: 31px; outline: none; overflow: hidden; position: absolute; text-indent: 10px; top: 0; width: 240px; }
.sbSelector:link, .sbSelector:visited, .sbSelector:hover { color: #666666; outline: none; text-decoration: none; }
.sbToggle { background: url('/images/dropDownArrow.png') no-repeat; display: block; height: 31px; outline: none; position: absolute; right: 0; top: 0; width: 45px; }
.sbToggle:hover { background: url('/images/dropDownArrow.png') no-repeat; }
.sbToggleOpen { background: url('/images/dropDownArrow.png') no-repeat; }
.sbToggleOpen:hover { background: url('/images/dropDownArrow.png') no-repeat; }
.sbOptions { -webkit-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px; background-color: #212121; border: solid 1px #515151; list-style: none; left: -1px; margin: 0; padding: 0; position: absolute; width: 250px; overflow: visible; z-index: 1; min-height: 265px; }
.sbOptions li { padding: 0 7px; }
.sbOptions a { border-bottom: dotted 1px #515151; display: block; outline: none; padding: 12px 0 12px 3px; }
.sbOptions a:link, .sbOptions a:visited { color: #ddd; text-decoration: none; }
.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus { color: #808080; }
.sbOptions li.last a { border-bottom: none; }


input.placeholder, textarea.placeholder { 
    color:#999;
    font-style: italic;
}
::-webkit-input-placeholder, ::-webkit-textarea-placeholder { 
    color:#999;
    font-style: italic;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:#999;
    font-style: italic;
}
::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
   color:#999;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color:#999;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#999;
    font-style: italic;
}

:-ms-input-placeholder, :-ms-textarea-placeholder {  
   color:#999;
    font-style: italic;
}

/*-------------------   Landing Result Div  ------------------------------*/
.result-div{
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 205px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.result-header{
    background-color: #E4F1FA;
    padding: 3px 10px;
    border-radius: 5px;
}
.result-content{
    padding: 10px;
}
.result-div .result-button .button{
    font-size: 13px;
    width: 185px;
    padding: 6px 22px;
    margin:20px 0  10px 0;
}
.result-content p{
    margin-right: 0;
    line-height: 1.2em;
    font-weight: normal;
}
.result-div .pole-number-label{
    color: #0087C7;
    display: block;
    font-size: 15px;
    width: 50px;
}
.result-div .pole-location{
    float: right;
    width: 95px;
    border-left: 1px solid #BCBCBC;
}
.result-div .pole-location p{
    font-size: 13px;
    padding-left: 10px;
}

.working-box , .reported-box, .held-box, .nonausgrid-box, .result-header .working-box, .result-header .close-icon, .finish-header .close-icon{
    background-image: url('/images/Status_Sprites.png');
    width: 21px;
    height:21px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top:2px;
}
.working-box, .result-header .working-box{
    background-position: -1px -1px;
}
.reported-box{
    background-position: -23px -1px;
}
.held-box{
    background-position: -45px -1px;
}
.nonausgrid-box{
    background-position: -67px -1px;
}

/*styles for mobile radio button*/
.switch-off {
    background: transparent url('/images/switches.png') repeat scroll 0px 27px;
    display: block;
    width: 94px;
    height: 27px;
    cursor: default;
    outline: none;
}
.switch-on {
    background-position: 0px 0px;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
  http://stackoverflow.com/a/13276214
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#map {
    position: relative;
}
.close-tag{
    margin-left: 120px;
}
#outageInfo {
    position: absolute;
    bottom: 0;
    background-color: black;
    /* width: 100%; */
    right: 0;
    top: 0;
    opacity: .8;
    color: white;
}

.right {
    float: right;
}